section {
  width: 60%;
  margin: 0 auto;
}

section h2 {
  height: 70px;
  line-height: 70px;
  font-size: 1.5rem;
}

section h2 img {
  width: 30px;
  height: 30px;
}

section p {
  margin-bottom: 35px;
  line-height: 2rem;
}

section .section-img {
  width: 100%;
  margin: 0 auto;
}

section .section-img img {
  width: 100%;
}

.trans-box {
  text-align: center;
  margin-top: 30px;
}

.trans {
  background-color: #0c419a;
  color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block !important;
  font-size: 1rem;
  padding: 15px 20px;
}

.trans:hover {
  opacity: 0.8;
  transition: 0.8s;
}

.trans img {
  width: 15px;
  height: 15px;
}

.link {
  margin-top: 60px;
}

.link a {
  text-decoration: none;
  color: #0c419a;
}

.link span {
  color: black;
}

.strengths {
  background-color: #deecf8;
  padding: 30px 20px 50px;
  margin-top: 40px;
}

.section-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-top: 20px;
}

.section-list li {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 2px gray;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.section-list li:hover {
  background-color: #ececec;
  transition: 0.5s;
}

.section-list li a {
  text-decoration: none;
  color: #0c419a;
  font-size: 1.13rem;
  text-align: center;
  margin-left: 10px;
}

.section-list li span {
  color: black;
  position: absolute;
  left: 10px;
}

.sns {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.sns p {
  font-size: 0.3rem;
}

.sns i {
  font-size: 30px;
  margin-left: 15px;
}

.facebook {
  color: #26265d;
}

.twitter {
  color: #00b7ff;
}

.linkedin {
  color: #5c5ce6;
}
